# Salin file ini menjadi .env dan isi dengan nilai yang sesuai
# cp .env.example .env

# RabbitMQ
RABBITMQ_USER=admin
RABBITMQ_PASS=ganti_password_ini

# Perpustakaan — PostgreSQL
PERPUSTAKAAN_DB_NAME=perpustakaan_db
PERPUSTAKAAN_DB_USER=perp_user
PERPUSTAKAAN_DB_PASS=ganti_password_ini

# Keuangan — MySQL
KEUANGAN_DB_NAME=keuangan_db
KEUANGAN_DB_USER=keu_user
KEUANGAN_DB_PASS=ganti_password_ini
KEUANGAN_DB_ROOT_PASS=ganti_password_ini

# SIAKAD — PostgreSQL
SIAKAD_DB_NAME=siakad_db
SIAKAD_DB_USER=siak_user
SIAKAD_DB_PASS=ganti_password_ini
